html {
    font-family: 'Poppins', sans-serif;
    background-color: white;
  }
  
  /*loading*/
  :root {
    --main-color: #b2f2fd;
    --main-color-dark: #d3def0;
    --ray-color: #f8d3e4;
    --spark-color: #b9fde1;
    --back-color: #ffffff;
  }
  body {
    margin: 0;
    padding: 0;
    background: var(--back-color);
  }
  .container {
    max-width: 800px;
    margin: auto;
  }
  #lastray {
    margin: auto;
    border-radius: 100%;
    border: 0px solid;
    border-color: var(--ray-color);
    opacity: 1;
    width: 0px;
    height: 0px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
  #loading-page {
    background: var(--back-color);
    border-radius: 100%;
    top: 50%;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 400vh;
    height: 400vh;
    position: fixed;
    overflow: hidden;
    transition-duration: 1s;
  }
  #loader {
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 200px;
    position: absolute;
    max-height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  }
  .element {
    margin: auto;
    position: absolute;
  }
  .sphere {
    background: radial-gradient(
      circle,
      var(--main-color),
      var(--main-color-dark)
    );
    width: 50px;
    height: 50px;
    border-radius: 100%;
    animation: pump 4s infinite ease-in-out;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0px 0px 15px 0px rgba(200, 230, 255, 0.5);
  }
  .ray {
    margin: auto;
    border-radius: 100%;
    border: 5px solid;
    border-color: var(--ray-color);
    opacity: 1;
    width: 10px;
    height: 10px;
    animation: ray 4s infinite ease-out;
    animation-delay: 2.5s;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0px 0px 15px 0px rgba(255, 230, 200, 0.5);
  }
  .spark {
    width: 200px;
    height: 200px;
  }
  .particles {
    transform: translate(-50%, -50%);
  }
  .particle {
    background-color: var(--spark-color);
    width: 5px;
    height: 5px;
    border-radius: 100%;
    opacity: 0;
    animation: particle 1s infinite ease-in;
    left: 0%;
    top: 0%;
  }
  .spark1 {
    transform: rotate(20deg);
  }
  .spark2 {
    transform: rotate(40deg);
  }
  .spark3 {
    transform: rotate(66deg);
  }
  .spark4 {
    transform: rotate(172deg);
  }
  .spark5 {
    transform: rotate(110deg);
  }
  .spark6 {
    transform: rotate(130deg);
  }
  .spark7 {
    transform: rotate(-100deg);
  }
  .spark8 {
    transform: rotate(-50deg);
  }
  .spark9 {
    transform: rotate(-80deg);
  }
  .spark10 {
    transform: rotate(-173deg);
  }
  .spark11 {
    transform: rotate(-7deg);
  }
  .spark12 {
    transform: rotate(-133deg);
  }
  
  .particle1 {
    animation-delay: 0.5s;
  }
  .particle2 {
    animation-delay: 0s;
  }
  .particle3 {
    animation-delay: 2.2s;
  }
  .particle4 {
    animation-delay: 0.2s;
  }
  .particle5 {
    animation-delay: 2s;
  }
  .particle6 {
    animation-delay: 1.2s;
  }
  .particle7 {
    animation-delay: 2.5s;
  }
  .particle8 {
    animation-delay: 1.5s;
  }
  .particle9 {
    animation-delay: 1s;
  }
  .particle10 {
    animation-delay: 2.5s;
  }
  .particle11 {
    animation-delay: 0.7s;
  }
  .particle12 {
    animation-delay: 1.7s;
  }
  
  .loaded {
    width: 0px !important;
    height: 0px !important;
    transition: 1.2s ease-out;
  }
  .whitebk {
    background: #fff !important;
  }
  .opzero {
    opacity: 0;
    transition: 1s ease-out;
  }
  .finalray {
    animation: ray 2s ease-out;
    animation-delay: 0.3s;
    border: 1px solid;
  }
  /*ANIMATIONS*/
  @keyframes pump {
    0% {
      width: 50px;
      height: 50px;
    }
    83% {
      width: 88px;
      height: 88px;
    }
    85% {
      width: 90px;
      height: 90px;
    }
    100% {
      width: 50px;
      height: 50px;
    }
  }
  @keyframes ray {
    0% {
      width: 10px;
      height: 10px;
      opacity: 1;
      border-width: 1px;
    }
    100% {
      width: 200px;
      height: 200px;
      opacity: 0;
      border-width: 5px;
    }
  }
  @keyframes particle {
    0% {
      left: 0%;
      top: 0%;
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      left: 50%;
      top: 50%;
      opacity: 1;
    }
  }
  
  /*end loading*/
  
  
  body {
    margin: 0;
  }
  header {
    background-color: #333333;
    padding: 15px;
    padding-bottom: none;
  }
  
  header:hover {
    color: #A0F3FF;
  }
  
  header ul {
    float: bottom;
    color: white;
    font-size: 16px;
    font-weight: 300;
  }

  .navlist {
    color: white;
  }
  
  li:hover {
    color: #FFD1E4;
    text-decoration: underline;
  }
  li:active {
    color: #A0F3FF;
    text-decoration: underline;
  }
  
  .contact {
    display: flex;
    flex-wrap: wrap-reverse;
    color: white;
  }
  .socials {
   position: absolute;
   right: 20px;
   padding-left: 10px;
   color: white;
  }
  header li {
    display: inline-block;
    padding: 0px 5px;
  }
  header p {
    display: inline-block;
  }
  button {
    font-family: 'Poppins', sans-serif;
    padding: 15px;
    background-color: #333333;
    border-color: #d3def0;
    color: #d3def0;
    font-size: 16px;
    font-weight: 200;
    border-radius: 31px;
    position:absolute;
    top: 40px;
    right: 20px;
  }
  
  button:hover {
    background-color: #d3def0;
    color: #333333;
    font-weight: 500;
  }
  
  .content {
    max-width: 100%;
    margin: 50 auto;
    padding: 50px;
    background-color: #FFFFFF;
    text-align: center;
  }

h5 {
    background-color: white;
    color: #333333;
    text-align: center;
    font-weight: 600;
    font-size: 30px;
}  

.heroImage {
    background-color: white;
    padding: 20px;
    padding-top: 60px;
}

.process {
    padding: 40px;
}

p {
display: flex;
justify-content: center;
text-align: center;
color: #333333;
font-weight: 400;
font-size: 20px;
}

.toolsTitle {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 50px;
  }

.role {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 50px;
}
h3 {
    text-align: center;
    color: #333333;
    font-size: 25px;
    font-weight: 600;
}

.roleCenter {
    display: flex;
    justify-content: center;
}

.image-txt-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: white;
    padding-left: 20px;
    padding-bottom: 50px;
  }
h1 {
    color: #333333;
    font-size: 25px;
    font-weight: 600;
    text-align: right;
    padding-right: 20px;
}
  .right {
      color: #333333;
      font-weight: 400;
      text-align: right;
      font-size: 20;
      padding-left: 100px;
      padding-right: 20px;
  }

  .image-txt-container2 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: white;
    padding-right: 20px;
    padding-bottom: 50px;
  }
  h2 {
    color: #333333;
    font-size: 25px;
    font-weight: 600;
    text-align: left;
    padding-left: 20px;
    background-color: white;
}
  .left {
      color: #333333;
      font-weight: 400;
      text-align: left;
      font-size: 20;
      padding-left: 20px;
      background-color: white;
      padding-right: 45px;
      padding-bottom: 50px;
  }

  h4 {
    color: #333333;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    background-color: white;
  }

  .conclusion {
    color: #333333;
    font-weight: 400;
    text-align: center;
    font-size: 20;
    background-color: white;
    padding-bottom: 50px;
    padding: 20px;
  }
  .footer {
    display: flex;
    justify-content: center;
    color: #333333;
    font-weight: 600;
    font-size: 22px;
    padding-top: 70px;
    padding-bottom: 5px;
    background-color: white;
  }
  
  .footer2 {
    display: flex;
    justify-content: center;
    color: #333333;
    font-weight: 300;
    font-size: 16;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
  }
  
  .footer3 {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
  }
  
  i {
    display: inline-block;
    margin: 0 10px 0 0;
    color: #d3def0;
  }
  
  i:hover {
    color: #FFD1E4;
  }
  
  footer {
    background-color: #d3def0;
    padding: 5px;
    color: white;
  }
  footer ul {
    list-style: none;
    padding-left: 5px;
    display: flex;
    justify-content: center;
  }
  footer li {
    display: inline-block;
    padding: 0px 7px;
    display: flex;
    justify-content: center;
  }